.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - 3rem - 24px);
  padding: 4rem;
}

.content {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.max-content {
  width: max-content;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
