.dropbtn {
  background-color: white;
  color: #a0a0a0;
  border: none;

  width: 250px;
  height: 40px;
  font-size: 16px;
  
  border-radius: 10px;  
  border: 1px solid #505050;
  border-radius: 10px;  

  text-align: left;
  padding-left: 12px;
}

.dropbtn.active {
  color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: scroll;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.icon {
  width: 25px;
  position: absolute;
  right: 10px;
}